h3(id="#{Graph}-delNode") #{graph}.delNode(u)
:markdown
    Removes a node from this #{graph} that has the id `u`. Any edges incident on
    the node `u` are also removed. If this #{graph} does not contain a node `u`
    then this function will raise an `Error`.

