{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "test/tsconfig.json"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-this-alias": "warn"
  }
}
