{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "test/tsconfig.json"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
  }
}
