{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "test/tsconfig.json"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "no-undef": "off"
  }
}
