h2#filter Filters
:markdown
    The filters in the module can be used with
    [`graph.filterNodes`](#Graph-filterNodes) and
    [`digraph.filterNodes`](#Digraph-filterNodes). These filters are available
    as:

    ```js
    var filter = require("graphlib").filter;
    ```

h3#filter-all filter.all()
:markdown
    Returns all nodes in the graph. Thus `subgraph` is identical in the
    following code blocks:

    ```js
    var subgraph = graph.copy();
    ```

    and

    ```js
    var subgraph = graph.filterNode(filter.all());
    ```

h3#filter-nodesFromList filter.nodesFromList(list)
:markdown
    Returns `true` only for nodes with ids in `list`.
